//Copyright (C)2014-2024 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//Tool Version: V1.9.9.03 (64-bit)
//Part Number: GW2A-LV55PG484C8/I7
//Device: GW2A-55
//Device Version: C
//Created Time: Thu 06 13 10:39:19 2024

IO_PORT "test" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "wl2_sdata" G2;
IO_PORT "wl2_sdata" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "wl2_sclk" G4;
IO_PORT "wl2_sclk" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "wl2_fsync" F1;
IO_PORT "wl2_fsync" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "wl1_sdata" H4;
IO_PORT "wl1_sdata" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "wl1_sclk" G1;
IO_PORT "wl1_sclk" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "wl1_fsync" G3;
IO_PORT "wl1_fsync" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "laser_ser" M1;
IO_PORT "laser_ser" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "laser_sck" L2;
IO_PORT "laser_sck" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "laser_scl" L3;
IO_PORT "laser_scl" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "laser_rck" M2;
IO_PORT "laser_rck" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "gain_ser" U19;
IO_PORT "gain_ser" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "gain_sck" AA22;
IO_PORT "gain_sck" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "gain_scl" AB22;
IO_PORT "gain_scl" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "gain_rck" Y22;
IO_PORT "gain_rck" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "ain_ser" R2;
IO_PORT "ain_ser" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "ain_sck" P1;
IO_PORT "ain_sck" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "ain_scl" N1;
IO_PORT "ain_scl" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "ain_rck" P4;
IO_PORT "ain_rck" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "adc4_reset" R1;
IO_PORT "adc4_reset" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "adc4_convst" P3;
IO_PORT "adc4_convst" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "adc4_rd" R4;
IO_PORT "adc4_rd" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "adc3_reset" AA3;
IO_PORT "adc3_reset" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "adc3_convst" V3;
IO_PORT "adc3_convst" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "adc3_rd" V4;
IO_PORT "adc3_rd" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "adc2_reset" AB9;
IO_PORT "adc2_reset" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "adc2_convst" Y8;
IO_PORT "adc2_convst" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "adc2_rd" W9;
IO_PORT "adc2_rd" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "adc1_reset" AB16;
IO_PORT "adc1_reset" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "adc1_convst" W15;
IO_PORT "adc1_convst" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "adc1_rd" Y15;
IO_PORT "adc1_rd" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "ft232_rd_n" B17;
IO_PORT "ft232_rd_n" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "ft232_siwu_n" A18;
IO_PORT "ft232_siwu_n" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "ft232_wr_n" C17;
IO_PORT "ft232_wr_n" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "ft232_oe_n" A19;
IO_PORT "ft232_oe_n" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "uart1_txd" IO_TYPE=LVTTL33;
IO_LOC "ft232_data[7]" C16;
IO_PORT "ft232_data[7]" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "ft232_data[6]" B16;
IO_PORT "ft232_data[6]" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "ft232_data[5]" D15;
IO_PORT "ft232_data[5]" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "ft232_data[4]" A16;
IO_PORT "ft232_data[4]" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "ft232_data[3]" C15;
IO_PORT "ft232_data[3]" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "ft232_data[2]" B15;
IO_PORT "ft232_data[2]" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "ft232_data[1]" D14;
IO_PORT "ft232_data[1]" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "ft232_data[0]" A15;
IO_PORT "ft232_data[0]" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "adc2_data[15]" V12;
IO_PORT "adc2_data[15]" IO_TYPE=LVTTL33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "adc2_data[14]" AB14;
IO_PORT "adc2_data[14]" IO_TYPE=LVTTL33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "adc2_data[13]" W12;
IO_PORT "adc2_data[13]" IO_TYPE=LVTTL33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "adc2_data[12]" AA15;
IO_PORT "adc2_data[12]" IO_TYPE=LVTTL33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "adc2_data[11]" W14;
IO_PORT "adc2_data[11]" IO_TYPE=LVTTL33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "adc2_data[10]" Y14;
IO_PORT "adc2_data[10]" IO_TYPE=LVTTL33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "adc2_data[9]" AA16;
IO_PORT "adc2_data[9]" IO_TYPE=LVTTL33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "adc2_data[8]" AB15;
IO_PORT "adc2_data[8]" IO_TYPE=LVTTL33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "adc2_data[7]" AB13;
IO_PORT "adc2_data[7]" IO_TYPE=LVTTL33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "adc2_data[6]" V11;
IO_PORT "adc2_data[6]" IO_TYPE=LVTTL33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "adc2_data[5]" AB12;
IO_PORT "adc2_data[5]" IO_TYPE=LVTTL33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "adc2_data[4]" Y11;
IO_PORT "adc2_data[4]" IO_TYPE=LVTTL33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "adc2_data[3]" AA12;
IO_PORT "adc2_data[3]" IO_TYPE=LVTTL33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "adc2_data[2]" W11;
IO_PORT "adc2_data[2]" IO_TYPE=LVTTL33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "adc2_data[1]" AB11;
IO_PORT "adc2_data[1]" IO_TYPE=LVTTL33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "adc2_data[0]" AA11;
IO_PORT "adc2_data[0]" IO_TYPE=LVTTL33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "adc1_data[15]" Y19;
IO_PORT "adc1_data[15]" IO_TYPE=LVTTL33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "adc1_data[14]" AB20;
IO_PORT "adc1_data[14]" IO_TYPE=LVTTL33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "adc1_data[13]" W20;
IO_PORT "adc1_data[13]" IO_TYPE=LVTTL33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "adc1_data[12]" AA21;
IO_PORT "adc1_data[12]" IO_TYPE=LVTTL33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "adc1_data[11]" Y20;
IO_PORT "adc1_data[11]" IO_TYPE=LVTTL33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "adc1_data[10]" V20;
IO_PORT "adc1_data[10]" IO_TYPE=LVTTL33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "adc1_data[9]" Y21;
IO_PORT "adc1_data[9]" IO_TYPE=LVTTL33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "adc1_data[8]" AB21;
IO_PORT "adc1_data[8]" IO_TYPE=LVTTL33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "adc1_data[7]" AA20;
IO_PORT "adc1_data[7]" IO_TYPE=LVTTL33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "adc1_data[6]" W19;
IO_PORT "adc1_data[6]" IO_TYPE=LVTTL33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "adc1_data[5]" AB19;
IO_PORT "adc1_data[5]" IO_TYPE=LVTTL33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "adc1_data[4]" Y17;
IO_PORT "adc1_data[4]" IO_TYPE=LVTTL33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "adc1_data[3]" AB18;
IO_PORT "adc1_data[3]" IO_TYPE=LVTTL33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "adc1_data[2]" Y16;
IO_PORT "adc1_data[2]" IO_TYPE=LVTTL33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "adc1_data[1]" AB17;
IO_PORT "adc1_data[1]" IO_TYPE=LVTTL33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "adc1_data[0]" W16;
IO_PORT "adc1_data[0]" IO_TYPE=LVTTL33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "ft232_rxf_n" A17;
IO_PORT "ft232_rxf_n" IO_TYPE=LVTTL33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "ft232_txe_n" D16;
IO_PORT "ft232_txe_n" IO_TYPE=LVTTL33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "ft232_clk" D17;
IO_PORT "ft232_clk" IO_TYPE=LVTTL33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "sys_rst_n" M4;
IO_PORT "sys_rst_n" IO_TYPE=LVCMOS33D PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "sys_clk" B11;
IO_PORT "sys_clk" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "adc4_data[3]" U2;
IO_PORT "adc4_data[3]" IO_TYPE=LVTTL33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "adc4_data[1]" T1;
IO_PORT "adc4_data[1]" IO_TYPE=LVTTL33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "adc4_data[6]" U4;
IO_PORT "adc4_data[6]" IO_TYPE=LVTTL33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "adc4_data[10]" AB1;
IO_PORT "adc4_data[10]" IO_TYPE=LVTTL33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "adc4_data[12]" Y2;
IO_PORT "adc4_data[12]" IO_TYPE=LVTTL33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "adc4_data[4]" T3;
IO_PORT "adc4_data[4]" IO_TYPE=LVTTL33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "adc4_data[9]" AB2;
IO_PORT "adc4_data[9]" IO_TYPE=LVTTL33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "adc4_data[14]" W3;
IO_PORT "adc4_data[14]" IO_TYPE=LVTTL33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "adc4_data[11]" AA1;
IO_PORT "adc4_data[11]" IO_TYPE=LVTTL33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "adc4_data[13]" Y1;
IO_PORT "adc4_data[13]" IO_TYPE=LVTTL33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "adc4_data[7]" V1;
IO_PORT "adc4_data[7]" IO_TYPE=LVTTL33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "adc4_data[5]" U1;
IO_PORT "adc4_data[5]" IO_TYPE=LVTTL33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "adc4_data[8]" AA2;
IO_PORT "adc4_data[8]" IO_TYPE=LVTTL33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "adc4_data[15]" W1;
IO_PORT "adc4_data[15]" IO_TYPE=LVTTL33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "adc4_data[2]" T4;
IO_PORT "adc4_data[2]" IO_TYPE=LVTTL33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "adc3_data[5]" AA6;
IO_PORT "adc3_data[5]" IO_TYPE=LVTTL33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_PORT "uart1_rxd" IO_TYPE=LVTTL33;
IO_LOC "adc3_data[8]" AA8;
IO_PORT "adc3_data[8]" IO_TYPE=LVTTL33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "adc3_data[6]" W6;
IO_PORT "adc3_data[6]" IO_TYPE=LVTTL33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "adc3_data[2]" Y3;
IO_PORT "adc3_data[2]" IO_TYPE=LVTTL33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "adc3_data[3]" AB5;
IO_PORT "adc3_data[3]" IO_TYPE=LVTTL33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "adc3_data[4]" Y4;
IO_PORT "adc3_data[4]" IO_TYPE=LVTTL33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "adc3_data[11]" Y7;
IO_PORT "adc3_data[11]" IO_TYPE=LVTTL33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "adc4_data[0]" R3;
IO_PORT "adc4_data[0]" IO_TYPE=LVTTL33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "adc3_data[9]" AB8;
IO_PORT "adc3_data[9]" IO_TYPE=LVTTL33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "adc3_data[15]" Y6;
IO_PORT "adc3_data[15]" IO_TYPE=LVTTL33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "adc3_data[14]" AA7;
IO_PORT "adc3_data[14]" IO_TYPE=LVTTL33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "adc3_data[13]" W7;
IO_PORT "adc3_data[13]" IO_TYPE=LVTTL33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "adc3_data[7]" AB6;
IO_PORT "adc3_data[7]" IO_TYPE=LVTTL33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "adc3_data[1]" AB4;
IO_PORT "adc3_data[1]" IO_TYPE=LVTTL33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "adc3_data[0]" W4;
IO_PORT "adc3_data[0]" IO_TYPE=LVTTL33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "adc3_data[12]" AB7;
IO_PORT "adc3_data[12]" IO_TYPE=LVTTL33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "adc3_data[10]" W8;
IO_PORT "adc3_data[10]" IO_TYPE=LVTTL33 PULL_MODE=UP BANK_VCCIO=3.3;
