//Copyright (C)2014-2025 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//Tool Version: V1.9.11.01 (64-bit)
//Part Number: GW2A-LV55PG484C8/I7
//Device: GW2A-55
//Device Version: C
//Created Time: Tue 06 17 13:14:55 2025

IO_LOC "wl2_sdata" G2;
IO_PORT "wl2_sdata" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "wl2_sclk" G4;
IO_PORT "wl2_sclk" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "wl2_fsync" F1;
IO_PORT "wl2_fsync" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "wl1_sdata" H4;
IO_PORT "wl1_sdata" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "wl1_sclk" G1;
IO_PORT "wl1_sclk" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "wl1_fsync" G3;
IO_PORT "wl1_fsync" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "o_tri_out_ser" F3;
IO_PORT "o_tri_out_ser" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "o_tri_out_sck" F4;
IO_PORT "o_tri_out_sck" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "o_tri_out_scl" E1;
IO_PORT "o_tri_out_scl" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "o_tri_out_rck" F2;
IO_PORT "o_tri_out_rck" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "tri_ld" D3;
IO_PORT "tri_ld" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "tri_clk" D1;
IO_PORT "tri_clk" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "usb_act" C2;
IO_PORT "usb_act" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "laser_ser" M1;
IO_PORT "laser_ser" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "laser_sck" L2;
IO_PORT "laser_sck" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "laser_scl" L3;
IO_PORT "laser_scl" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "laser_rck" M2;
IO_PORT "laser_rck" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "gain_ser" U19;
IO_PORT "gain_ser" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "gain_sck" AA22;
IO_PORT "gain_sck" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "gain_scl" AB22;
IO_PORT "gain_scl" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "gain_rck" Y22;
IO_PORT "gain_rck" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "o_ads1278_din_2" Y10;
IO_PORT "o_ads1278_din_2" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "o_ads1278_sync_2" Y11;
IO_PORT "o_ads1278_sync_2" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "o_ads1278_pwdn_2[7]" Y2;
IO_PORT "o_ads1278_pwdn_2[7]" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "o_ads1278_pwdn_2[6]" Y1;
IO_PORT "o_ads1278_pwdn_2[6]" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "o_ads1278_pwdn_2[5]" W3;
IO_PORT "o_ads1278_pwdn_2[5]" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "o_ads1278_pwdn_2[4]" W1;
IO_PORT "o_ads1278_pwdn_2[4]" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "o_ads1278_pwdn_2[3]" Y3;
IO_PORT "o_ads1278_pwdn_2[3]" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "o_ads1278_pwdn_2[2]" W5;
IO_PORT "o_ads1278_pwdn_2[2]" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "o_ads1278_pwdn_2[1]" W4;
IO_PORT "o_ads1278_pwdn_2[1]" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "o_ads1278_pwdn_2[0]" V4;
IO_PORT "o_ads1278_pwdn_2[0]" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "o_ads1278_mode_2[1]" AB1;
IO_PORT "o_ads1278_mode_2[1]" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "o_ads1278_mode_2[0]" AA1;
IO_PORT "o_ads1278_mode_2[0]" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "o_ads1278_format_2[2]" Y7;
IO_PORT "o_ads1278_format_2[2]" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "o_ads1278_format_2[1]" Y5;
IO_PORT "o_ads1278_format_2[1]" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "o_ads1278_format_2[0]" Y4;
IO_PORT "o_ads1278_format_2[0]" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "o_ads1278_sclk_2" Y9;
IO_PORT "o_ads1278_sclk_2" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "o_ads1278_fsync_2" Y8;
IO_PORT "o_ads1278_fsync_2" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "o_ads1278_clk_div_2" AB10;
IO_PORT "o_ads1278_clk_div_2" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "o_ads1278_clk_2" AA2;
IO_PORT "o_ads1278_clk_2" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "o_ads1278_din_1" AA21;
IO_PORT "o_ads1278_din_1" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "o_ads1278_sync_1" AB21;
IO_PORT "o_ads1278_sync_1" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "o_ads1278_pwdn_1[7]" Y13;
IO_PORT "o_ads1278_pwdn_1[7]" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "o_ads1278_pwdn_1[6]" W14;
IO_PORT "o_ads1278_pwdn_1[6]" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "o_ads1278_pwdn_1[5]" Y12;
IO_PORT "o_ads1278_pwdn_1[5]" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "o_ads1278_pwdn_1[4]" W12;
IO_PORT "o_ads1278_pwdn_1[4]" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "o_ads1278_pwdn_1[3]" AB12;
IO_PORT "o_ads1278_pwdn_1[3]" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "o_ads1278_pwdn_1[2]" AA12;
IO_PORT "o_ads1278_pwdn_1[2]" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "o_ads1278_pwdn_1[1]" AB11;
IO_PORT "o_ads1278_pwdn_1[1]" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "o_ads1278_pwdn_1[0]" AA11;
IO_PORT "o_ads1278_pwdn_1[0]" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "o_ads1278_mode_1[1]" W15;
IO_PORT "o_ads1278_mode_1[1]" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "o_ads1278_mode_1[0]" Y14;
IO_PORT "o_ads1278_mode_1[0]" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "o_ads1278_format_1[2]" Y17;
IO_PORT "o_ads1278_format_1[2]" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "o_ads1278_format_1[1]" Y16;
IO_PORT "o_ads1278_format_1[1]" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "o_ads1278_format_1[0]" Y15;
IO_PORT "o_ads1278_format_1[0]" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "o_ads1278_sclk_1" AB14;
IO_PORT "o_ads1278_sclk_1" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "o_ads1278_fsync_1" AB13;
IO_PORT "o_ads1278_fsync_1" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "o_ads1278_clk_div_1" Y20;
IO_PORT "o_ads1278_clk_div_1" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "o_ads1278_clk_1" Y21;
IO_PORT "o_ads1278_clk_1" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "ft232_rd_n" B17;
IO_PORT "ft232_rd_n" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "ft232_siwu_n" A18;
IO_PORT "ft232_siwu_n" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "ft232_wr_n" C17;
IO_PORT "ft232_wr_n" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "ft232_oe_n" A19;
IO_PORT "ft232_oe_n" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "ft232_data[7]" C16;
IO_PORT "ft232_data[7]" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "ft232_data[6]" B16;
IO_PORT "ft232_data[6]" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "ft232_data[5]" D15;
IO_PORT "ft232_data[5]" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "ft232_data[4]" A16;
IO_PORT "ft232_data[4]" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "ft232_data[3]" C15;
IO_PORT "ft232_data[3]" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "ft232_data[2]" B15;
IO_PORT "ft232_data[2]" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "ft232_data[1]" D14;
IO_PORT "ft232_data[1]" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "ft232_data[0]" A15;
IO_PORT "ft232_data[0]" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "tri_qh" C1;
IO_PORT "tri_qh" IO_TYPE=LVTTL33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "usb_rdy" C3;
IO_PORT "usb_rdy" IO_TYPE=LVTTL33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "i_ads1278_data_2[7]" AB9;
IO_PORT "i_ads1278_data_2[7]" IO_TYPE=LVTTL33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "i_ads1278_data_2[6]" AB8;
IO_PORT "i_ads1278_data_2[6]" IO_TYPE=LVTTL33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "i_ads1278_data_2[5]" AA8;
IO_PORT "i_ads1278_data_2[5]" IO_TYPE=LVTTL33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "i_ads1278_data_2[4]" AB7;
IO_PORT "i_ads1278_data_2[4]" IO_TYPE=LVTTL33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "i_ads1278_data_2[3]" AA7;
IO_PORT "i_ads1278_data_2[3]" IO_TYPE=LVTTL33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "i_ads1278_data_2[2]" AB6;
IO_PORT "i_ads1278_data_2[2]" IO_TYPE=LVTTL33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "i_ads1278_data_2[1]" AA6;
IO_PORT "i_ads1278_data_2[1]" IO_TYPE=LVTTL33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "i_ads1278_data_2[0]" AB5;
IO_PORT "i_ads1278_data_2[0]" IO_TYPE=LVTTL33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "i_ads1278_data_1[7]" AB20;
IO_PORT "i_ads1278_data_1[7]" IO_TYPE=LVTTL33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "i_ads1278_data_1[6]" AA20;
IO_PORT "i_ads1278_data_1[6]" IO_TYPE=LVTTL33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "i_ads1278_data_1[5]" AB19;
IO_PORT "i_ads1278_data_1[5]" IO_TYPE=LVTTL33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "i_ads1278_data_1[4]" AB18;
IO_PORT "i_ads1278_data_1[4]" IO_TYPE=LVTTL33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "i_ads1278_data_1[3]" AB17;
IO_PORT "i_ads1278_data_1[3]" IO_TYPE=LVTTL33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "i_ads1278_data_1[2]" AA17;
IO_PORT "i_ads1278_data_1[2]" IO_TYPE=LVTTL33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "i_ads1278_data_1[1]" AB16;
IO_PORT "i_ads1278_data_1[1]" IO_TYPE=LVTTL33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "i_ads1278_data_1[0]" AA16;
IO_PORT "i_ads1278_data_1[0]" IO_TYPE=LVTTL33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "ft232_rxf_n" A17;
IO_PORT "ft232_rxf_n" IO_TYPE=LVTTL33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "ft232_txe_n" D16;
IO_PORT "ft232_txe_n" IO_TYPE=LVTTL33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "ft232_clk" D17;
IO_PORT "ft232_clk" IO_TYPE=LVTTL33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "sys_rst_n" M4;
IO_PORT "sys_rst_n" IO_TYPE=LVCMOS33D PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "sys_clk" B11;
IO_PORT "sys_clk" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;
